%html(lang="en")
  %head
    %meta(charset="UTF-8")/
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
    %meta(http-equiv="X-UA-Compatible" content="ie=edge")/
    %title Home
  %body
    = render './layouts/nav'
    #section-home
      .header Curl up next to the fire with your favorite entertainment. Whether you like to read, listen, or watch, we've got you covered.